
body {
    font-family: Arial, sans-serif;
    background-color: #0c1117 ; 


}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #40c463;
}


.profile-pic {
    max-width: 100%;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff; 
    border: 2px solid #ffffff; 
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: auto;
    display: block;
}


.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.icon-link {
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-link:hover {
    background-color: #d40000;
    color: #fff;
}

.navbar {
    background-color: #030303ae; 
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff; 
}
.navbar-dark .navbar-toggler-icon {
    background-color: #fff; 
}

.container {
    padding-top: 20px; 
}
.profile-pic {
    max-width: 200px;
}
.center-content {
    text-align: center; 
}
.left-align {
    text-align: left;
}

h1 {
    font-size: 36px; 
    color: #ffffff; 
    font-weight: bold; 
    margin-bottom: 20px; 
    
}

h2 {
    font-size: 28px; 
    color: #ffffff; 
    font-weight: bold; 
    margin-bottom: 15px; 
    text-align:justify;

}

h3 {
    font-size: 24px; 
    color: #40c463;
    font-weight: bold; 
    margin-bottom: 15px;
}

p{

    color: #92989e;
}

.qr-code {
    max-width: 200px; 
    height: auto; 
    display:inline; 
    margin: 10px auto;
    
}

.qr-label {
    font-size: 16px;
    margin-top: 5px;
}


 h5 {
    font-size: 60px;
    color: #ffffff; 
    margin-top: 10px; 
}

.skills-item p {
    display: inline-block;
    margin-right: 20px; 
}

.skills-item img {
    width: 50px;
}
h6  {
    font-size: 20px; 
    color:rgb(0, 60, 255); 
    margin-top: 10px; 
}